@charset 'utf-8';

html, body {
  margin: 0;
  padding: 0;
}

.base {
  max-width: 1400px;
  margin: 0 auto;
  overflow: hidden;
}

/*
 * initialize
 */
.lz-modal form {
  margin: 0;
  padding: 0;
}

.lz-search-form input, .lz-search-form button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


/*
 * search modal
 */
.lz-modal {
  display: none;
  position: relative;
  z-index: 200;

  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.lz-modal .lz-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(30, 30, 30, .42);
}

.lz-modal .lz-inner {
  height: 96%;
  min-width: 440px;
  max-width: 840px;

  position: fixed;
  top: 10px;

  border-radius: 7px;
  background: #fff;
}

.lz-modal .lz-header {
  padding: 20px 25px;
  border-bottom: 1px solid #d9d9d9;
  box-shadow: 0 2px 3px -3px rgba(60, 60, 60, .42)
}

.lz-modal .lz-search {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.lz-modal .lz-cancel {
  display: block;
  color: #2196F3;
  font-size: 13px;
  padding-left: 10px;
  padding-top: 5px;
}

.lz-modal .lz-cancel:visited {
  color: #666;
}

.lz-modal .lz-search-form {
  display: inline-flex;
  flex-direction: row;

  width: 92%;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  position: relative;
}

.lz-search-form > .lz-keyword {
  font-size: 16px;
  width: 89%;
  height: 28px;
  margin-left: .8em;
  position: relative;
  top: 1px;
}

.lz-search-form > .lz-x {
  display: none;
  position: relative;
  top: 2px;
  left: 2px;

  font-size: 23px;
  font-family: arial, sans-serif;
  color: #757575;
  text-align: center;
  cursor: pointer;
}

.lz-search-form > .lz-button {
  background: #46A1EF;
  width: 44px;
  height: 103%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  position: absolute;
  right: 0;
  cursor: pointer;
}

.lz-search-form > .lz-button svg {
  width: 16px;
}

.lz-modal .lz-body {
  height: calc(100vh - 135px);
  padding-left: 25px;
  padding-right: 25px;
  overflow-y: scroll;
}

.lz-body .lz-result {
  margin-top: 1.39em;
  font-size: 13px;
}

.lz-body .lz-result a {
  color: #2196F3;
  text-decoration: none;
  cursor: pointer;
}

.lz-body .lz-result h3 {
  font-size: 15px;
  font-weight: normal;
  margin: 0;
}

.lz-body .lz-result .url {
  color: #20C133;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.lz-body .lz-desc {
  margin-top: .2em;
}

.lz-body .lz-desc .keyword {
  font-weight: bold;
}

.lz-modal .lz-nav {
  display: none;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  margin-top: 2.5em;
  margin-bottom: 1.3em;
}

.lz-nav .lz-button {
  margin-top: 1em;
}

.lz-nav .lz-button a {
  display: none;
  padding: .5em .75em;
  color: #444;
  font-family: arial, sans-serif;
  font-size: 15px;
  border: 1px solid #999;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 1px 2px 2px #999;
}

.lz-nav .lz-button a:focus {
  box-shadow: none;
}

.lz-nav .lz-page-status {
  text-align: center;
}

.lz-total-num {
  font-size: 14px;
}

.lz-num-suffix {
  font-size: 13px;
  padding-left: .5em;
}

.lz-modal.is-active, .lz-nav.is-active {
  display: flex;
}

.lz-button.is-active > a {
  display: block;
}

.lz-search-form.has-keyword > .lz-x {
  display: inline;
}

@media screen and (max-width: 800px) {
  .lz-modal .lz-inner {
    top: 0;
    height: 100%;
  }
  .lz-modal .lz-body {
    height: calc(100vh - 100px);
  }
}
