<div class="lz-modal lz-ignore" data-lz-modal>
  <div class="lz-background"></div>
  <div class="lz-inner">
    <div class="lz-header">
      <form>
        <div class="lz-search">
          <div class="lz-search-form has-keyword">
            <input name="keyword" type="text" class="lz-keyword">
            <button type="button" class="lz-x">×</button>
            <button type="submit" class="lz-button">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.08 19.6"><defs><style>.a{fill:#fff;}.b{fill:none;stroke:#fff;stroke-miterlimit:10;}</style></defs><title>loupe</title><path class="a" d="M10.91,4A6.91,6.91,0,1,1,4,10.91,6.92,6.92,0,0,1,10.91,4m0-1a7.91,7.91,0,1,0,7.91,7.91A7.91,7.91,0,0,0,10.91,3Z" transform="translate(-3 -3)"/><line class="b" x1="12.62" y1="13.15" x2="18.72" y2="19.25"/></svg>
            </button>
          </div>
          <a href="#" class="lz-close">close</a>
        </div>
      </form>
    </div>

    <div class="lz-body">
      <div class="lz-results"></div>
        <nav class="lz-nav">
          <div class="lz-prev lz-button">
            <a href="#">&lt;&lt;&nbsp;前へ</a>
          </div>

          <div class="lz-page-status">
            <div>
              <span class="lz-current-page"></span> / <span class="lz-total-page"></span>
            </div>
            <div>
              <span class="lz-total-num"></span><span class="lz-num-suffix">件</span>
            </div>
          </div>

          <div class="lz-next lz-button">
            <a href="#">次へ&nbsp;&gt;&gt;</a>
          </div>
        </nav>
      </div>
    </div>

  </div>
</div>
